.yfa-icon {
  background: url( https://s.yimg.com/dh/ap/fantasy/img/yfa-icon-sdacc41361f.png);
}

.yfa-icon.add-disabled-small {
  background-position: 0 -792px;
  height: 14px;
  width: 14px;
}
.yfa-icon.add-no-small {
  background-position: 0 -615px;
  height: 14px;
  width: 14px;
}
.yfa-icon.add-small {
  background-position: 0 -639px;
  height: 10px;
  width: 10px;
}
.yfa-icon.adjust-roster-small {
  background-position: 0 -7px;
  height: 15px;
  width: 12px;
}
.yfa-icon.close-modal {
  background-position: 0 -338px;
  height: 26px;
  width: 25px;
}
.yfa-icon.close {
  background-position: 0 0;
  height: 7px;
  width: 7px;
}
.yfa-icon.commish-small {
  background-position: 0 -557px;
  height: 10px;
  width: 11px;
}
.yfa-icon.commishnote-small {
  background-position: 0 -777px;
  height: 11px;
  width: 12px;
}
.yfa-icon.critical-large {
  background-position: 0 -104px;
  height: 47px;
  width: 52px;
}
.yfa-icon.critical-small {
  background-position: 0 -478px;
  height: 15px;
  width: 17px;
}
.yfa-icon.critical {
  background-position: 0 -285px;
  height: 29px;
  width: 33px;
}
.yfa-icon.delete-small {
  background-position: 0 -629px;
  height: 10px;
  width: 10px;
}
.yfa-icon.drop-disabled-small {
  background-position: 0 -806px;
  height: 14px;
  width: 14px;
}
.yfa-icon.drop-no-small {
  background-position: 0 -701px;
  height: 8px;
  width: 11px;
}
.yfa-icon.drop-small {
  background-position: 0 -788px;
  height: 4px;
  width: 9px;
}
.yfa-icon.fb-like-faded {
  background-position: 0 -364px;
  height: 20px;
  width: 49px;
}
.yfa-icon.highlight-video {
  background-position: 0 -189px;
  height: 11px;
  width: 11px;
}
.yfa-icon.highlight-video-new {
  background-position: 0 -151px;
  height: 11px;
  width: 20px;
}
.yfa-icon.info-large {
  background-position: 0 -402px;
  height: 47px;
  width: 47px;
}
.yfa-icon.info-small {
  background-position: 0 -162px;
  height: 16px;
  width: 16px;
}
.yfa-icon.info-xsmall {
  background-position: 0 -542px;
  height: 15px;
  width: 15px;
}
.yfa-icon.info {
  background-position: 0 -513px;
  height: 29px;
  width: 29px;
}
.yfa-icon.keepers-small {
  background-position: 0 -200px;
  height: 11px;
  width: 12px;
}
.yfa-icon.locked-small {
  background-position: 0 -590px;
  height: 14px;
  width: 14px;
}
.yfa-icon.msg-small {
  background-position: 0 -718px;
  height: 10px;
  width: 12px;
}
.yfa-icon.nav {
  background-position: 0 -493px;
  height: 20px;
  width: 28px;
}
.yfa-icon.newmsg-small {
  background-position: 0 -728px;
  height: 10px;
  width: 12px;
}
.yfa-icon.play-large {
  background-position: 0 -69px;
  height: 35px;
  width: 35px;
}
.yfa-icon.play-medium {
  background-position: 0 -262px;
  height: 23px;
  width: 24px;
}
.yfa-icon.play-small {
  background-position: 0 -384px;
  height: 18px;
  width: 18px;
}
.yfa-icon.play-xsmall {
  background-position: 0 -464px;
  height: 14px;
  width: 14px;
}
.yfa-icon.player-add-small {
  background-position: 0 -709px;
  height: 9px;
  width: 9px;
}
.yfa-icon.playernote-new-small {
  background-position: 0 -178px;
  height: 11px;
  width: 20px;
}
.yfa-icon.playernote-none-small {
  background-position: 0 -251px;
  height: 11px;
  width: 11px;
}
.yfa-icon.playernote-small {
  background-position: 0 -211px;
  height: 11px;
  width: 11px;
}
.yfa-icon.refresh-small {
  background-position: 0 -604px;
  height: 11px;
  width: 12px;
}
.yfa-icon.slogan-small {
  background-position: 0 -690px;
  height: 11px;
  width: 12px;
}
.yfa-icon.smack-small {
  background-position: 0 -752px;
  height: 11px;
  width: 13px;
}
.yfa-icon.success-large {
  background-position: 0 -22px;
  height: 47px;
  width: 47px;
}
.yfa-icon.success-small {
  background-position: 0 -449px;
  height: 15px;
  width: 16px;
}
.yfa-icon.success {
  background-position: 0 -222px;
  height: 29px;
  width: 30px;
}
.yfa-icon.trade-disabled-small {
  background-position: 0 -738px;
  height: 14px;
  width: 14px;
}
.yfa-icon.trade-no-small {
  background-position: 0 -567px;
  height: 14px;
  width: 14px;
}
.yfa-icon.trade-small {
  background-position: 0 -649px;
  height: 12px;
  width: 12px;
}
.yfa-icon.video-small-faded {
  background-position: 0 -671px;
  height: 9px;
  width: 12px;
}
.yfa-icon.video-small {
  background-position: 0 -581px;
  height: 9px;
  width: 12px;
}
.yfa-icon.warning {
  background-position: 0 -314px;
  height: 24px;
  width: 26px;
}
.yfa-icon.watch-disabled-small {
  background-position: 0 -763px;
  height: 14px;
  width: 14px;
}
.yfa-icon.watch-no-small {
  background-position: 0 -680px;
  height: 10px;
  width: 8px;
}
.yfa-icon.watch-small {
  background-position: 0 -661px;
  height: 10px;
  width: 8px;
}

[class*="yfa-icon playernote"],
[class*="yfa-icon add"],
[class*="yfa-icon drop"],
[class*="yfa-icon trade"],
[class*="yfa-icon close"] {
  cursor: pointer;
}

.yfa-fb-like {
  display: -moz-inline-stack;
  display: inline-block;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  top: -3px;
  margin-left: 10px;
}

div .yfa-fb-like iframe {
  position: absolute;
}

.yfa-proleagues-icon {
  font-weight: bold;
  padding: 2px 8px;
  margin-left: 5px;
  border-radius: 9px;
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  font-size: 11px;
  *zoom: 1;
  *display: inline;
  background-color: #1da944;
}
