html {
  color: #333;
  font-family: "YahooSans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  font-size: 13px;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

ol {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
  padding: 0;
}

strong {
  font-weight: bold;
}

.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden !important;
}

#yspadHB,
#yspadHB a,
#yspadM2 {
  position: absolute;
  right: 0px;
  top: 0px;
  *top: -10px;
  z-index: 1000;
}

#yspadHB a {
  display: block;
  zoom: 1;
}

#yspadHB div a {
  position: relative;
}

#yspadHB img {
  display: block;
}

.aft-data-container {
  z-index: 200001;
}


body {
  font: 13px/1.3 "YahooSans","Helvetica Neue",Helvetica,Arial,sans-serif !important;
  font-style: normal !important;
  font-stretch: normal !important;
}

td {
  font-variant-numeric: tabular-nums lining-nums;
}

.YahooSans-ExtraLight, .YahooSans-Light, .YahooSans-Regular, .YahooSans-Italic, .YahooSans-Medium, .YahooSans-Semibold, .YahooSans-Bold, .YahooSans-ExtraBold, .YahooSans-Black {
  font-family: "YahooSans" !important;
  font-stretch: normal !important;
}

.YahooSans-ExtraLight, .YahooSans-Light, .YahooSans-Regular, .YahooSans-Medium, .YahooSans-Semibold, .YahooSans-Bold, .YahooSans-ExtraBold, .YahooSans-Black {
  font-style: normal !important;
}

.YahooSans-ExtraLight {
  font-weight: 200 !important;
}

.YahooSans-Light {
  font-weight: 300 !important;
}

.YahooSans-Regular {
  font-weight: 400 !important;
}

.YahooSans-Italic {
  font-weight: 400 !important;
  font-style: italic !important;
}

.YahooSans-Medium {
  font-weight: 500 !important;
}

.YahooSans-Semibold {
  font-weight: 600 !important;
}

.YahooSans-Bold {
  font-weight: 700 !important;
}

.YahooSans-ExtraBold {
  font-weight: 800 !important;
}

.YahooSans-Black {
  font-weight: 900 !important;
}

@font-face {
  font-family: "YahooSans";
  font-display: block;
  src: url("https://s.yimg.com/cv/ae/sports/fonts/2017/Yahoo_Sans-ExtraLight.eot");
  src: url("https://s.yimg.com/cv/ae/sports/fonts/2017/Yahoo_Sans-ExtraLight.eot?#iefix") format("embedded-opentype"), url("https://s.yimg.com/cv/ae/sports/fonts/2017/Yahoo_Sans-ExtraLight.woff2") format("woff2"), url("https://s.yimg.com/cv/ae/sports/fonts/2017/Yahoo_Sans-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "YahooSans";
  font-display: block;
  src: url("https://s.yimg.com/cv/ae/sports/fonts/2017/Yahoo_Sans-Light.eot");
  src: url("https://s.yimg.com/cv/ae/sports/fonts/2017/Yahoo_Sans-Light.eot?#iefix") format("embedded-opentype"), url("https://s.yimg.com/cv/ae/sports/fonts/2017/Yahoo_Sans-Light.woff2") format("woff2"), url("https://s.yimg.com/cv/ae/sports/fonts/2017/Yahoo_Sans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "YahooSans";
  font-display: block;
  src: url("https://s.yimg.com/cv/ae/sports/fonts/2017/Yahoo_Sans-Regular.eot");
  src: url("https://s.yimg.com/cv/ae/sports/fonts/2017/Yahoo_Sans-Regular.eot?#iefix") format("embedded-opentype"), url("https://s.yimg.com/cv/ae/sports/fonts/2017/Yahoo_Sans-Regular.woff2") format("woff2"), url("https://s.yimg.com/cv/ae/sports/fonts/2017/Yahoo_Sans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "YahooSans";
  font-display: block;
  src: url("https://s.yimg.com/cv/ae/sports/fonts/2017/Yahoo_Sans-Italic.eot");
  src: url("https://s.yimg.com/cv/ae/sports/fonts/2017/Yahoo_Sans-Italic.eot?#iefix") format("embedded-opentype"), url("https://s.yimg.com/cv/ae/sports/fonts/2017/Yahoo_Sans-Italic.woff2") format("woff2"), url("https://s.yimg.com/cv/ae/sports/fonts/2017/Yahoo_Sans-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "YahooSans";
  font-display: block;
  src: url("https://s.yimg.com/cv/ae/sports/fonts/2017/Yahoo_Sans-Medium.eot");
  src: url("https://s.yimg.com/cv/ae/sports/fonts/2017/Yahoo_Sans-Medium.eot?#iefix") format("embedded-opentype"), url("https://s.yimg.com/cv/ae/sports/fonts/2017/Yahoo_Sans-Medium.woff2") format("woff2"), url("https://s.yimg.com/cv/ae/sports/fonts/2017/Yahoo_Sans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "YahooSans";
  font-display: block;
  src: url("https://s.yimg.com/cv/ae/sports/fonts/2017/Yahoo_Sans-Semibold.eot");
  src: url("https://s.yimg.com/cv/ae/sports/fonts/2017/Yahoo_Sans-Semibold.eot?#iefix") format("embedded-opentype"), url("https://s.yimg.com/cv/ae/sports/fonts/2017/Yahoo_Sans-Semibold.woff2") format("woff2"), url("https://s.yimg.com/cv/ae/sports/fonts/2017/Yahoo_Sans-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "YahooSans";
  font-display: block;
  src: url("https://s.yimg.com/cv/ae/sports/fonts/2017/Yahoo_Sans-Bold.eot");
  src: url("https://s.yimg.com/cv/ae/sports/fonts/2017/Yahoo_Sans-Bold.eot?#iefix") format("embedded-opentype"), url("https://s.yimg.com/cv/ae/sports/fonts/2017/Yahoo_Sans-Bold.woff2") format("woff2"), url("https://s.yimg.com/cv/ae/sports/fonts/2017/Yahoo_Sans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "YahooSans";
  font-display: block;
  src: url("https://s.yimg.com/cv/ae/sports/fonts/2017/Yahoo_Sans-ExtraBold.eot");
  src: url("https://s.yimg.com/cv/ae/sports/fonts/2017/Yahoo_Sans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("https://s.yimg.com/cv/ae/sports/fonts/2017/Yahoo_Sans-ExtraBold.woff2") format("woff2"), url("https://s.yimg.com/cv/ae/sports/fonts/2017/Yahoo_Sans-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "YahooSans";
  font-display: block;
  src: url("https://s.yimg.com/cv/ae/sports/fonts/2017/Yahoo_Sans-Black.eot");
  src: url("https://s.yimg.com/cv/ae/sports/fonts/2017/Yahoo_Sans-Black.eot?#iefix") format("embedded-opentype"), url("https://s.yimg.com/cv/ae/sports/fonts/2017/Yahoo_Sans-Black.woff2") format("woff2"), url("https://s.yimg.com/cv/ae/sports/fonts/2017/Yahoo_Sans-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
