html {
  background-image: url(https://s.yimg.com/dh/ap/fantasy/img/background-football@2x.jpg?v=1);
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
html.Phone, html.Ybar3 {
  background-image: none;
}

@media screen and (max-width: 767px) {
  html {
    background-size: cover;
  }
}
.Branding-logo {
  background: "";
  display: block;
  height: 0;
  width: 0;
  z-index: 10005;
  margin-top: 5px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .Branding-logo {
    background-image: "";
    background-size: auto 0;
  }
}
#Stencil .C-accent {
  color: #c70606;
}
