#Stencil .YLogoMY {
	background-image: url(https://s.yimg.com/cv/apiv2/default/logos/yahoo-fantasy-logo-stacked-white@3x.png) !important;
	background-position: 100% 0% !important;
	background-size: 87px auto !important;
	background-repeat: no-repeat !important;
	width: 95px !important;

}

#Stencil .yucs-logo-heading {
	background-image: url(https://s.yimg.com/cv/apiv2/default/logos/yahoo-fantasy-logo-white@2x.png) !important;
}